{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="flex-container-content">
<div>

<h1 class="home">Log In</h1>

    <form method="post" action="{% url 'login' %}">
{#        <table>#}
            {{  form.as_p }}
{#                <tr>#}
{#                    <td>&nbsp;</td>#}
                    <input type="submit" value="Log In">
{#                </tr>#}
{#        </table>#}
        <p>You must have an account in order to create and manage directory entries.</p>
            <a href="{% url 'register' %}">Create an Account</a></p>

        <p><a href="/user/reset-password/">Password Reset</a></p>
{#        <input type="hidden" name="next" value="{{ next }}" />#}
        {% csrf_token %}
    </form>

</div>
</div>

{% endblock %}