{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="flex-container-content">
<div>

<h1 class="home">Password Reset</h1>
<p>Enter the email associated with the account, and we'll send a password reset link.</p>
    <form method="post" action="">
         {% csrf_token %}
{#        <table>#}
            {{ form.as_p }}
{#            <tr>#}
{#                 <td>&nbsp;</td>#}
                <input type="submit" value="Reset Password">
{#            </tr>#}
{#        </table>#}
{#    <input type="hidden" name="next" value="{{ next }}" />#}
    </form>

</div>
</div>
&nbsp;
{% endblock %}