{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="flex-container-content">
<div>

<h1 class="home">New Password</h1>

        <form method="post" action="">
         {% csrf_token %}
{#        <table>#}
            {{ form.as_p }}
{#            <tr>#}
{#                 <td>&nbsp;</td>#}
                <input type="submit" value="Create Password">
{#            </tr>#}
{#        </table>#}
{#    <input type="hidden" name="next" value="{{ next }}" />#}
    </form>

</div>
</div>
&nbsp;
{% endblock %}