.flex-container-main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.flex-container-main > div {
    padding: 5px 30px 0 10px;
    margin: 0;
}

.flex-container-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 15px;
    background-color: #f1f1f1;
    padding: 0 0 8px 30px;
    margin: 15px 0 30px 0;
}

.flex-container-content > div {
    /*padding: 0 0 7px 0;*/
    margin: 10px 50px 0 0;
}

.flex-container-content-user-records {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 15px;
    background-color: #e7eef1;
    padding: 15px 0 8px 30px;
    margin: 0 0 20px 0;
}

.flex-container-content-user-records > div {
    /*padding: 0 0 7px 0;*/
    margin: 0px 50px 0 0;
}

.flex-container-content-user-records-shared {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 15px;
    background-color: #ecf1e7;
    padding: 15px 0 8px 30px;
    margin: 0 0 20px 0;
}

.flex-container-content-user-records-shared > div {
    /*padding: 0 0 7px 0;*/
    margin: 0 50px 0 0;
}

.flex-container-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*border-radius: 15px;*/
    /*background-color: #f1f1f1;*/
    padding: 0 0 10px 15px;
    margin: 0 0 10px 0;
}

.flex-container-footer > div {
    padding: 0 0 7px 0;
    margin: 0;
}

.flex-container-content-images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 15px;
    background-color: #f1f1f1;
    padding: 10px 0 5px 30px;
    margin: 30px 0 25px 0;
}

.flex-container-content-images > div {
    padding: 0 0 7px 0;
    margin: 18px 20px 0 0;
}

a {
    text-decoration: none;
    color: #e26c08;
}

a.navigation {
    color: #5888b3;
    font-weight: normal;
    /*font-size: 1.1em;*/
}

a:hover {
    color: #d2af81;
}

blockquote{
    color: #93afaa;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0 15px 0;
    line-height: 35px;
    /*text-indent: -10px*/
}

blockquote.quote-attrib {
    color: #909090;
    font-size: .75em;
    font-weight: normal;
    margin: -20px 0 0 0;
}

body {
    /*background-color: #F1F1ED;*/
    background-color: #f8f8f8;
    /*background-color: #faf8f2;*/
}

code {
    font-size: 1em;
}

div#home-image-gallery-caption {
    font-size: .85em;
}

div#entry-dates-database {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 30px 5px;
    padding: 5px 0 4px 10px;
    color: #7d7d7d;
    font-size: .9em;
    /*background-color: #cfe5e3;*/
    background-color: #f3e5d1;
    border-radius: 6px;
    max-width: 320px;
    min-width: 320px;
}

div#heart {
    display: inline;
    font-size: 1.3em;
    /*color: #b35858;*/
    }

div#quote-what-are {
    padding-top: 15px;
}

div.consortium {
    margin: 0 0 30px 15px;
    /*font-size: .85em;*/
}

div.vertical-line {
    background-color: #dbdbdb;
    margin: 20px 35px 20px -10px;
}


h1 {
    /*display: inline;*/
    font-weight: bold;
    font-size: 1.5em;
    margin: 20px 0 20px 0;
    padding: 0;
    /*line-height: 35px;*/
    color: #4885b3;
}

h1.browse {
    display: inline-block;
    font-weight: normal;
    font-size: 1.5em;
    margin: 15px 0 5px 5px;
    padding: 0;
    line-height: 35px;
    color: #898989;
}

h1.detail {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0 2px 0;
    padding: 0;
    line-height: 30px;
    color: #3789bf;
}

h1.detail-collector {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0 -15px 0;
    padding: 0;
    line-height: 30px;
    color: #3789bf;
}


h1.home {
    display: block;
    font-size: 1.6em;
    font-weight: bold;
    margin: 15px 0 8px 0px;
    padding: 0;
    line-height: 35px;
    color: #4588bd;
}

h1.title {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 10px 5px;
    padding: 0;
    line-height: 35px;
    color: #6ba77f;;
    /*color: #659e79;*/
    /*color: #e7ab2a;*/
}

h2 {
    margin: 20px 0 8px 0;
    font-size: 1em;
    font-weight: bold;
    padding: 0;
    line-height: 18px;
    color: #977c6c;
}

h2.detail {
    display: block;
    margin: 8px 0 5px 0;
    font-size: 1.3em;
    font-weight: normal;
    padding: 0;
    /*line-height: 18px;*/
    color: #c18e6c;
}


h2.home {
    margin: 0 0 50px 5px;
    font-size: 1.4em;
    font-weight: normal;
    padding: 0;
    line-height: 18px;
    color: #8b7463;
}

h2.browse {
    margin: 30px 0 0 0;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0;
    line-height: 18px;
    color: #9c786a;
}


h2.subjects {
    margin: 15px 0 17px 0;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0;
    line-height: 18px;
    color: #977c6c;
}

h3 {
    margin: 5px 0 5px 0;
    font-weight: normal;
    font-size: 1em;
    padding: 0;
    line-height: 20px;
    color: #8e7163;
}

hr {
    margin: 10px 0 15px 0;
    height: 1px;
    border-width: 0;
    color: #dbdbdb;
    background-color: #dbdbdb;
}

hr.browse {
    margin: 10px 0 0 0;
    height: 1px;
    border-width: 0;
    color: #dbdbdb;
    background-color: #dbdbdb;
}

html {
    font-family: sans-serif;
    /*font-size: .98em;*/
    line-height: 26px;
    margin-top: 25px;
    color: #746859;
}

img {
    margin-bottom: 30px;
    margin-left: 14px;
    padding: 0;
}

img.collection {
    margin: 0;
    padding: 0;
}

img.sig-logo {
    position: relative;
    left: 90.5%;
    margin-top: -15px;
}

label {
    color: #8d7159;
    /*font-weight: bold;*/
    margin-right: 5px;
}

label.fresh {
    color: #726254;
    font-weight: normal;
    margin-right: 5px;
}

label.caption {
    text-transform: uppercase;
    font-size: .65em;
    color: #999999;
    margin: 0;
}

label.number {
    font-size: 1.45em;
    color: #659e79;
}

p {
    margin-right: 10px;
}

p.footer {
    margin-left: 25px;
    margin-bottom: 0px;
}

strong {
    /*color: #b36d58;*/
    /*color: #38acb8;*/
    font-weight: bold;
}

strong.navigation-browse {
    /*color: #2e8b7d;*/
    color: #93755e;
    font-weight: bold;
}

strong.date {
    color: #7d6550;
    font-weight: bold;
}

strong.consortium {
    display: inline;
    vertical-align: inherit;
    color: #3abac6;
    font-weight: bolder;
    /*text-transform: uppercase;*/
    font-size: 1.6em;
    margin: -15px 0 0 3px;
}

p.consortium-footer {
    display: block;
    margin: -20px 0 0 0;
}

strong.consortium-footer {
    display: inline-block;
    vertical-align: inherit;
    color: #3abac6;
    font-weight: bold;
    /*text-transform: uppercase;*/
    font-size: 1.6em;
    margin: 0 0 0 25px;
}

strong#consortium {
    display: inline-block;
    vertical-align: baseline;
    color: #3abac6;
    font-weight: bolder;
    /*text-transform: uppercase;*/
    font-size: 2.5em;
    margin: 0;
    /*padding: 4px;*/
}

strong.preferred {
    color: #8cb6ad;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8em;
    /*border-radius: 2px;*/
    /*padding: 4px;*/
}

strong.search-term {
    color: #a1897c;
    /*text-transform: uppercase;*/
    /*font-size: 1.25em;*/
    /*border-radius: 2px;*/
    /*padding: 4px;*/
}

table.collection-browse {
    margin: 10px 0 10px 0;
    border-collapse: collapse;
    width: 900px;
}

table.collection-browse th {
    text-align: left;
    font-weight: bold;
    font-size: 1.15em;
    color: #9a7d6b;
}

table.collection-browse td {
    border-top: 1px solid #dedede;
    margin: 0 0 1px 0;
    padding-right: 20px;
}

table.collection-browse tr:hover {
    background-color: #e7eef1;
}

ul {
    margin-left: -28px;
}

ul > li {
    margin: 5px 0 0 0;
    padding: 0;
    color: #746859;
    list-style-type: disc;
}

ul.body {
    margin: 5px 0 10px 12px;
    padding: 0;
    color: #746859;
    list-style-type: disc;
}

ul.body > li  {
    margin: 3px 0 3px 0;
    padding: 0;
}

ul.body-collection-browse {
    margin: 20px 0 10px 0;
    padding: 0;
    color: #746859;
    list-style-type: disc;
}

ul.body-collection-browse > li {
    margin: 6px 0 6px 10px;
    padding: 0;
}

ul.images  {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.images > li {
    margin: 0;
    padding: 20px 0 0 0;
    /*border-radius: 5px;*/
    /*background-color: #e0dcd5;*/
}

ul.images-user  {
    display: inline;
    padding: 0;
    margin: 0;
}

ul.images-user > li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    /*border-radius: 5px;*/
    /*background-color: #e0dcd5;*/
}

ul.navigation  {
    font-size: 1em;
    margin: 0 0 20px 25px;
    padding: 17px 10px 12px 0;
    border-radius: 10px;
    /*background-color: #f3f0eb;*/
    background-color: #e7eef1;
}

ul.navigation > li {
    margin: 0 0 5px 20px;
    list-style-type: none;
    /*font-weight: bold;*/
}


ul.navigation-sub  {
    font-size: 1em;
    margin: -10px 0 -7px 20px;
    padding: 15px 10px 12px 0;
    border-radius: 10px;
    /*background-color: #f3f0eb;*/
    background-color: #e7eef1;
}

ul.navigation-sub > li {
    margin: 0 0 5px 15px;
    list-style-type: disc;
    /*font-weight: bold;*/
}

ul.navigation-counts  {
    /*font-size: .88em;*/
    /*text-transform: uppercase;*/
    margin: 0px 0 20px 25px;
    padding: 15px 10px 12px 0;
    border-radius: 10px;
    /*background-color: #f3f0eb;*/
    background-color: #e7f1ea;
}

ul.navigation-counts > li {
    color: #008282;
    margin: 0 0 0 30px;
    list-style-type: disc;
    /*font-weight: bold;*/
}

ul.navigation-login {
    list-style-type: none;
    margin: 0 0 20px 25px;
    margin: 0 0 20px 25px;
    padding: 12px 7px 12px 0;
    border-radius: 10px;
    /*border: 1px solid #a6b5bd;*/
    background-color: #f1e8d9;
    /*background-color: #ecf3f5;*/
}

ul.navigation-login > li {
    /*font-size: .95em;*/
    font-weight: normal;
    list-style-type: none;
    margin: 0 0 0 20px;
    color: #9c795b;
}

ul.navigation-login > li > a {
    /*font-size: .95em;*/
    /*font-weight: bold;*/
    /*color: #589567;*/
}

ul.types {
    margin: 10px 0 20px 18px;
    padding: 0;
    color: #636161;
}

ul.types > li  {
    margin: 0 0 0 5px;
    padding: 0;
}

li.footnote {
    font-size: .85em;
}

/*FORMS*/

th {
    vertical-align: top;
    text-align: right;
    font-weight: normal;
    width: 210px;
    padding: 6px;
}

td {
    vertical-align: top;
    text-align: left;
    padding: 6px;
}


.helptext {
    display: block;
    font-size: .9em;
    color: #999999;
    line-height: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
}

/*.helptext > ul li {*/
/*    display: block;*/
/*    font-size: .9em;*/
/*    color: #937b71;*/
/*    line-height: 18px;*/
/*    margin-bottom: 12px;*/
/*}*/


input[type=text] {
    width: 300px;
    font-size: .85em;
}

input[type=url] {
    width: 385px;
    font-size: .85em;
}

input[type=email] {
    width: 330px;
    font-size: .85em;
}

input[type=password] {
    width: 205px;
    font-size: .85em;
}

input[type=submit] {
    /*width: 385px;*/
    /*font-size: .85em;*/
    margin-bottom: 13px;
}

input#id_username {
    width: 200px;
    font-size: .85em;
}


.required label:after {
    display: block;
    content: "value required";
    text-transform: uppercase;
    font-size: .78em;
    font-weight: bold;
    color: #0e8bb1;
    margin-top: -4px;
}

select {
    /*height: 180px;*/
    font-size: .85em;
}

select[name=collector] {
    height: 180px;
    font-size: .85em;
}

select[name=cat_system] {
    height: 180px;
    font-size: .85em;
}

select[name=service] {
    height: 180px;
    font-size: .85em;
}

select[name=spec_format] {
    height: 180px;
    font-size: .85em;
}

select[name=person_type] {
    height: 180px;
    font-size: .85em;
}

select[name=inst_type] {
    height: 180px;
    font-size: .85em;
}

select[name=subject_name] {
    height: 180px;
    font-size: .85em;
}

select[name=subject_topic] {
    height: 180px;
    font-size: .85em;
}

select[name=subject_city] {
    height: 180px;
    font-size: .85em;
}

select[name=subject_country] {
    height: 180px;
    font-size: .85em;
}

select[name=subject_county] {
    height: 180px;
    font-size: .85em;
}

select[name=subject_state_prov] {
    height: 180px;
    font-size: .85em;
}

select[name=subject_geo_area] {
    height: 180px;
    font-size: .85em;
}


