p.entry-dates {
    margin: 20px 10px 0 0;
    padding: 6px 7px 6px 9px;
    color: #7d7d7d;
    font-size: .75em;
    line-height: 18px;
    background-color: #cce2e2;
    border-radius: 7px;
    max-width: 205px;
    min-width: 205px;
}

div.normal {
    border: none;
}

.flex-container-main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  /*background-color: ;*/
}

.flex-container-main > div {
    padding: 10px 30px 20px 15px;
    margin: 0;
}

.flex-container-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*border-right: 2px solid #a88566;*/
    border-radius: 15px;
    background-color: #f3f0eb;
    padding: 20px 0 0 20px;
    margin: 0 0 20px 0;
}

.flex-container-body > div {
    flex: 1 0 75px;
    padding: 0;
    margin: 0 30px 15px 0;
    /*border-right: 2px solid #e7e7e7;*/
}


blockquote{
    color: #93afaa;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 50px 0 50px;
    margin: 10px 0 25px 0;
    line-height: 40px;
}

body {
    background-color: #faf8f2;
    }

html {
    font-family: sans-serif;
    /*font-size: 1em;*/
    line-height: 28px;
    margin-top: 25px;
    color: #636161;
}

p {
    margin-bottom: 20px;
}

h1 {
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 35px;
    color: #6197c6;
}

h2 {
    margin: 0 0 10px 0;
    font-weight: normal;
    padding: 0;
    line-height: 20px;
    color: #8b7463;
}

a {
    text-decoration: none;
    color: #ea5b02;
}

a:hover {
    color: burlywood;
}

img {
    margin-bottom: 20px;
    margin-left: 20px;
}

label {
    color: #7d685a;
}

strong {
    color: #8b7463;
    font-weight: normal;
}

ul  {
    margin: 10px 0 20px 15px;
    padding: 0;
    color: #636161;
}

ul.navigation  {
    font-size: 1.25em;
    list-style-type: none;
    margin: 0 0 25px 0;
    padding: 0;
}

li.navigation {
    margin-bottom: 10px;
}

ul.collection-elements  {
    /*font-size: 1.25em;*/
    /*list-style-type: none;*/
    margin: 0 0 0 15px;
    padding: 0;
}

li.collection-elements {
    margin-bottom: 10px;
}