.flex-container-main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  /*background-color: ;*/
}

.flex-container-main > div {
    padding: 15px 30px 10px 10px;
    margin: 0;
}

.flex-container-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*border-right: 2px solid #a88566;*/
    border-radius: 15px;
    /*background-color: #efede8;*/
    background-color: #f1f1f1;
    padding: 10px 0 5px 30px;
    margin: 0 0 25px 0;
}

.flex-container-body > div {
    padding: 0;
    margin: 0 60px 0 0;
}

.flex-container-body > div.collection-image {
    padding: 0;
    margin: 0 10px 0 0;
}

a {
    text-decoration: none;
    color: #d5641b;
}

a.navigation {
    color: #5888b3;
    font-weight: bold;
}

a:hover {
    color: #d2af81;
    /*text-decoration: underline;*/
    /*background-color: #f6e1c6;*/
    /*border: #e0dfdf solid 1px;*/
    /*border-radius: 6px;*/
    /*padding: 3px;*/
}

blockquote{
    color: #93afaa;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 40px 0 40px;
    margin: 0 0 18px 0;
    line-height: 40px;
}

blockquote.quote-attrib {
    color: #909090;
    font-size: .75em;
    font-weight: normal;
    margin: -30px 0 18px 0;
}

body {
    /*background-color: #F1F1ED;*/
    background-color: #f8f8f8;
    /*background-color: #faf8f2;*/
    }

html {
    font-family: sans-serif;
    /*font-size: 1em;*/
    line-height: 25px;
    margin-top: 25px;
    color: #636161;
    -webkit-text-size-adjust:100%
}

img.collection {
    margin: 20px 0 15px 0;
    padding: 0;
}

div#entry-dates {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 20px 15px;
    padding: 0 0 0 6px;
    color: #7d7d7d;
    font-size: .8em;
    background-color: #f6e1c6;
    border-radius: 6px;
    max-width: 140px;
    min-width: 140px;
}

h1 {
    display: inline;
    font-size: 1.65em;
    margin: 0 0 15px 15px;
    padding: 0;
    /*line-height: 35px;*/
    color: #6197c6;
}

h1.browse {
    display: block;
    font-size: 1.65em;
    margin: 0 0 20px 15px;
    padding: 0;
    line-height: 35px;
    color: #6197c6;
}

h2 {
    margin: 15px 0 8px 0;
    font-size: 1.4em;
    font-weight: normal;
    padding: 0;
    line-height: 18px;
    color: #8b7463;
}

h2.collection-name {
    margin: 5px 0 20px 0;
    font-size: 1.7em;
    /*font-style: italic;*/
    padding: 0;
    line-height: 30px;
    color: #977c6c;
}


h3 {
    margin: 5px 0 5px 0;
    font-weight: normal;
    font-size: 1em;
    padding: 0;
    line-height: 20px;
    color: #7d685a;
}

img {
    margin-bottom: 20px;
    margin-left: 20px;
}

label {
    color: #7d685a;
}

strong {
    color: #937868;
    font-weight: bold;
}

strong.consortium {
    display: block;
    color: #e5d275;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 2.75em;
    margin: 7px 0 10px 0;
    /*padding: 4px;*/
}
strong.preferred {
    color: #93afaa;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25em;
    /*border-radius: 2px;*/
    /*padding: 4px;*/
}

strong.search-term {
    color: #a1897c;
    /*text-transform: uppercase;*/
    /*font-size: 1.25em;*/
    /*border-radius: 2px;*/
    /*padding: 4px;*/
}
ul.body {
    margin: 5px 0 10px 10px;
    padding: 0;
    color: #746859;
    list-style-type: disc;
}

ul.body > li  {
    margin: 3px 0 3px 0;
    padding: 0;
}

ul.body-collection-browse {
    margin: 5px 0 10px 0;
    padding: 0;
    color: #746859;
    list-style-type: none;
    font-size: 1.1em;
}

ul.body-collection-browse > li {
    margin: 4px 0 4px 0;
    padding: 0;
}

ul.images  {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.images > li {
    margin: 0;
    padding: 20px 0 0 0;
    /*border-radius: 5px;*/
    /*background-color: #e0dcd5;*/
}

ul.navigation  {
    font-size: 1em;
    list-style-type: none;
    margin: 10px 0 40px 25px;
    padding: 10px 10px 3px 0;
    border-radius: 10px;
    /*background-color: #f3f0eb;*/
    background-color: #ecf3f5;
}

ul.navigation > li {
    margin: 0 0 8px 20px;
    /*font-weight: bold;*/
}

ul.types {
    margin: 10px 0 20px 18px;
    padding: 0;
    color: #636161;
}

ul.types > li  {
    margin: 0 0 0 5px;
    padding: 0;
}
