{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <script src="{% static 'javascript/tablesort-5.2.1/src/tablesort.js' %}"></script>
    <title>Artist Files Revealed: International Directory of Artist Files</title>
</head>
<body>

<div class="flex-container-main">

    {% include 'navigation.html' %}

    {% include 'header.html' %}

    {% block content %}
        This section gets replaced with "extends" calls coded in content pages
    {% endblock %}

    <div>
    {% include 'footer.html' %}
    </div>

    </div>

</div>

</body>
</html>