{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <title>Artist Files Revealed: International Directory of Artist Files</title>
</head>
<body>

<div class="flex-container-main">

    {% include 'navigation.html' %}

    {% include 'header.html' %}

    {% block content %}
        This section gets replaced with "extends" calls coded in content pages
    {% endblock %}

{#        <a href="http://artistfiles.arlisna.org"><img src="#}
{#{% static 'graphics/Artist-Files-SIG-logo-gray.svg' %}" class="sig-logo" width="90" alt="Art Libraries Society of#}
{#North America, Artist Files SIG Logo"></a>#}
    </div>

{#    {% include 'footer.html' %}#}

</body>
</html>