{% extends 'base.html' %}

{% block content %}

<div style="flex: 10 1 1000px" xmlns="http://www.w3.org/1999/html">
    <h1 class="browse">Browsing all dealers sorted by dealer name ... </h1>
    <div class="flex-container-body">
        <div>
        <ul class="body-collection-browse">
            {% for dealer in dealers %}
                <li>
                <a href="/collections/{{ collection.id }}">
                {{ dealer.inst_main_name }}{% if dealer.inst_sub_name %}, {% endif %}
                {{ dealer.inst_sub_name }}</a>
                </li>
                {% endfor %}
        </ul>
        </div>
    </div>
</div>

{% endblock %}