{% extends 'base.html' %}
{% block content %}

<div>
    <h1 class="browse">The last 10 collections added, newest on top ...</h1>

    <div class="flex-container-content">
        <div>
        <ul class="body-collection-browse">
            {% for collection in collections %}
                {% for collector in collection.collector.all %}
                <li>
                <a href="/collections/{{ collection.id }}">
                {{ collector.inst_main_name }}{% if collector.inst_sub_name %}, {% endif %}
                {{ collector.inst_sub_name }}{% if collector.inst_sub2_name %}, {% endif %}
                {{ collector.inst_sub2_name }}
                {{ collector.person_last_name }}{% if collector.person_last_name %}, {% endif %}
                {{ collector.person_first_name }}</a> &mdash; {{ collection.name }}
                    {% if collection.consortium == True %}<strong class="consortium">&#x26AD;</strong
    >{% endif %}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        </div>
    </div>
    <strong class="consortium-footer">&#x26AD;</strong> = consortial/collaborative collections
</div>

{% endblock %}