{% extends 'base.html' %}

{% block content %}

<div style="flex: 10 1 1000px">
    <h1>Collector Details</h1>
    <div class="flex-container-collector">
    <div>
    <a href="">{{ collector.inst_main_name }}<br>{{ collector.inst_sub_name }}</a><br>
    Collector or Person Responsible for Listing:<br>
        <a href="">{{ collector.person_first_name }} {{ collector.person_last_name }}</a><br>
        Institution Type:
        {% for inst_type in collector_institution_type %}
        <a href="">{{ inst_type }}</a>
        {% endfor %}
        Person Type:
        {% for person_type in collector_person_type %}
        <a href="">{{ person_type }}</a>
        {% endfor %}
    </div>
    <div>
    Email: <a href="">{{ collector.email }}</a><br>
    Telephone: {{ collector.telephone }}<br>
    Twitter: <a href="">{{ collector.twitter }}</a><br>
    Instagram: <a href="">{{ collector.instagram }}</a><br>
    Website: <a href="">{{ collector.website }}</a><br>
    </div>
    </div>
    <h1>{{ collection.name }}</h1>
    <h2>General Description</h2>
        <p>{% autoescape off %}{{ collection.description }}{% endautoescape %}</p>
    <blockquote>{% autoescape off %}&ldquo;{{ collection.quote }}&rdquo;{% endautoescape %}</blockquote>
    <h2>Access and Use</h2>
        <p>{{ collection.access }}</p>
    <h2>Size</h2>
        <p>{{ collection.size }}</p>
    <h2>Reference Services Offered</h2>
        <ul>
            {% for service in service %}
                <li>{{ service }}</li>
            {% endfor %}
        </ul>
    <h2>Special Formats in the Collection</h2>
        <ul>
            {% for spec_format in spec_format %}
            <li><a href="">{{ spec_format }}</a></li>
            {% endfor %}
        </ul>
    <h2>Digital Content</h2>
        <p>{{ collection.dig_projects }}</p>
    <h2>Digital Access</h2>
        <p><a href="{{ collection.dig_access }}">{{ collection.dig_access }}</a></p>
    <h2>Collection Location</h2>
    <p><a href="">{{ collection.loc_city }}</a>, <a href="">{{ collection.loc_state_prov }}</a>,
        <a href="">{{ collection.loc_country }}</a></p>

    <h1>Subjects</h1>
      <h2>Institutional and Personal Names</h2>
        <ul>
            {% for name in subject_name %}
            <li><a href="">{{ name }}</a></li>
            {% endfor %}
        </ul>
    <h2>Topics</h2>
        <ul>
            {% for subject in subject_topic %}
            <li><a href="">{{ subject }}</a></li>
            {% endfor %}
        </ul>
    <h2>Cities</h2>
        <ul>
            {% for city in subject_city %}
            <li><a href="">{{ city }}</a></li>
            {% endfor %}
        </ul>
    <h1>Meta</h1>
    <h2>Cataloging/Inventory Systems</h2>
        <ul>
            {% for cat_system in cat_system %}
                <li>{{ cat_system }}</li>
            {% endfor %}
        </ul>
        <div id="entry-dates">
        Entry Created: <strong>{{ collection.date_created }}</strong><br>
        Entry Updated: <strong>{{ collection.date_saved }}</strong>
        </div>
</div>

{% endblock %}

