{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}

    <div class="flex-container-content-images">

    <div>
        {% for image in collection_images %}
        <a href="/collections/{{ image.collection_id }}">
            {% thumbnail image.image 0x300 crop as thumb2x %}<img class="collection" srcset=
                "{{ thumb2x.url }} 2x" src="{{ thumb.url }}"></a>
        {% endfor %}

            <hr>
            <ul class="body">
                <li class="footnote">Above, our robot artist files curators present a randomly
            selected set of images from the directory to show the diversity of the collections.
            <strong>Reload the page to view a new set of images!</strong></li>
            </ul>
        </div>


    </div>

    <div class="flex-container-content">
   <div style="flex: 1 1 300px">

    <h1 class="home">Why An Artist Files Directory?</h1>

       <p>If you are new to artist files, head to <a href="/what-are-artist-files">What Are Artist
           Files?</a> for a primer.</p>
       <p>Artist files are among the most valued and heavily used
           resources in art research facilities. These files often provide critical documentation about
           well established artists, as well as lesser known artists. Researchers rely on artist files to
           establish chronologies, flesh out exhibition histories, review stylistic developments, assess
           the critical reception of artists over time, among many other uses. Also, artist files
           collections frequently have regional strengths that make them particularly vital repositories
           for communities. Also, artist files sometimes contain unique objects, such as those highlighted in
           the <a
                   href="/collections/11/">New York Public Library's entry</a>. This type of material,
           recognized by curators as helping to provide yet another angle on an artist, feature them in
           exhibitions.</p>

<blockquote>&#10077;&nbsp;... artist files [are] among the least accessible resources in research
    collections [and] the single most untapped resource to the broader art research community.&nbsp;&#10078;
</blockquote>

<p>Ironically, artist files continue to be among the least accessible resources in research collections. The
    very <a href="/what-are-artist-files">nature</a> of the material, limited staff resources, and lack of
        technical or administrative support
have all contributed to this problem ... As a result, it is only the most diligent of
researchers that will discover these files by searching individual local catalogs or other publicly
published indexes. In effect, this has made artist files the single most untapped resource to the broader
    art research community.</p>
   </div>

        <div class="vertical-line" style="flex: 0 0 1px">
               </div>

    <div style="flex: 1 1 300px">
       <h1 class="home">What is the Scope of the Directory?</h1>

       <p>While the first <cite>Artist Files
               Revealed</cite>
           <a href="http://www.arlisna.org/images/researchreports/artist_files_revealed.pdf">publication</a> and related (now defunct)
           online directory focused on institutional collections, the new directory expands coverage by
           offering access to personal collections of artist files. A number of new access options help
           researchers find collections by <a href="/collections/browse/subjects/">subjects</a>, <a
                   href="/collections/browse/tech_data/">technical data</a> such as special formats,
           physical <a href="/collections/browse/locations">location</a> of the the collection, and even by <a
                   href="/collectors/browse/collector_types">collector categories</a>. It also provides a
           <a href="/collectors/browse/dealers/">dealer directory</a> for sellers who specialize in artist
               ephemera.</p>
        <p>Let's quickly get something out of the way: the directory is <strong>not</strong> a delivery
           platform for digitized or digital artist files content.</p>
         <hr>
    <ul class="body">
       <li class="footnote">Some information on this page based on information from <a href="http://www
       .arlisna.org/images/researchreports/artist_files_revealed.pdf"><cite>Artist Files Revealed: Documentation
           and Access</cite></a> by The Artist Files
    Working Group, ARLIS/NA</cite> (Art Libraries Society of North America, 2009, 2010).</li>
            </ul>
    <a href="http://www.arlisna.org/images/researchreports/artist_files_revealed.pdf"><img src="{% static 'graphics/Artist-Files-Revealed-Documentation-and-Access-Cover.jpg' %}" width="175" alt="Artist Files Revealed Documentation and Access Cover"></a>
    </div>
</div>

{% endblock %}