{% load static %}


<div style="flex: 1 .5 200px">
 <!--   <ul class="navigation">
        <li class="navigation"><a href="">Home</a></li>
        <li class="navigation"><a href="">Browse</a></li>
        <li class="navigation"><a href="">Search</a></li>
        <li class="navigation"><a href="">About</a></li>
    </ul>-->

    <a href=""><img src="{% static 'graphics/Artist-Files-Revealed-logo-blue.svg' %}"></a>

    <a href="http://artistfiles.arlisna.org"><img
            src="{% static 'graphics/Artist-Files-SIG-logo-outline-orange.svg' %}"></a>

</div>

