{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="flex-container-content">
<div>

<h1 class="home">Update a Collection</h1>


        <form action="" method="post" novalidate>
            <table>
                <tr>
                    <td>&nbsp;</td><td><p> We encourage you to supply Country, State or Province, and City in order to provide directory access
        to the physical location of your artist files collection. Location names come from
        <a href="https://www.geonames.org">GeoNames</a> with limitations. Certain tertiary jurisdictions
        such as boroughs are not included. Also, Canadian and Mexican subregions are not used in the
        directory. GeoNames data is very dynamic and will be refreshed in the directory on a regular
        schedule.</p></td>
                </tr>
                {{ form.media }}
                {{ form.as_table }}
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="Update Collection"></td>
                </tr>
            </table>
            {% csrf_token %}
        </form>
</div>
</div>
{% endblock %}