{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="flex-container-content">

<div id="quote-what-are">
    Quoted in collection: <a href="/collections/{{ random_quote.id }}">{{ random_quote.name }}</a>
    <blockquote>&#10077;&nbsp;{{ random_quote.quote|safe }}&nbsp;&#10078;</blockquote>
    {% if random_quote.quote_attrib %}<blockquote class="quote-attrib">{{ random_quote.quote_attrib }}</blockquote>{% endif %}
</div>

</div>

<div class="flex-container-content">
   <div style="flex: 1 1 300px">

<h1>What Are Artist Files?</h1>
 <p>Collection managers recognize that while provisioning printed artist files remains challenging, the
            corpus of  "digital ephemera" continues to rise. This increasingly untenable aspect of artist
            files has managers worrying about preserving and accessing this kind of material for the
            future. </p>

 <p>Like a personal scrapbook, these
            miscellaneous collections frequently contain both published and unpublished
            items that help complete the story of an artist's life and work. They often contain the stuff
                    from an
            artist's time. As one of the <a href="/collections/1/">collectors</a> in the directory puts it,
            &ldquo;Next to art itself, original pieces of ephemera are the best link to the time and place
            I’m trying to get to. And there is great satisfaction in holding a piece of paper in my hand that
            was not conceived as a historical document but became one anyway.&rdquo; </p>

       <p>Much of the following information comes from <a href="http://www.arlisna.org/images/researchreports/artist_files_revealed.pdf"><cite>Artist Files Revealed: Documentation and Access</cite></a> by The Artist Files
    Working
    Group, ARLIS/NA</cite> (Art Libraries Society of North America, 2009, 2010).</p>

           <a href="http://www.arlisna.org/images/researchreports/artist_files_revealed.pdf"><img src="
{% static 'graphics/Artist-Files-Revealed-Documentation-and-Access-Cover.jpg' %}" width="175" alt="Artist
Files Revealed Documentation and Access Cover" style="float:right"></a>

       <hr />
       <p>Artist files are among the most valued and unique resources in art research facilities.
           Researchers rely on artist files to establish chronologies, build exhibition
           histories, track stylistic developments, assess the critical reception of artists
           over time, among many other uses. They provide critical documentation about
           established artists, but they are particularly important for documenting lesser known artists.
           Artist files collections frequently have regional strengths that make them particularly vital repositories for communities.  Also, artist files sometimes contain unique objects, such as those highlighted in
           the <a href="/collections/11/">New York Public Library's collection</a>. These special objects
           are increasingly valued by curators and are routinely included in exhibitions. Artist files
           collections represent significant institutional commitment that has yielded great depth&mdash;many
           having been in development since an institution's founding. They are rarely inventoried, and
           their full contents typically cannot be discerned without examining them. Due to their character,
           they are also among the last types of library
    collections to be digitized.</p>
       <p>What's exciting about artist files is the thrill of discovery, because you never know what you'll find.
    Be prepared for serendipity.
</p>

        <p>	Artist files are collections of research material on artists that contain uncataloged material
    in a broad range of formats and sizes that is often ephemeral or fugitive in nature. They are
    typically mixed collections consisting of an array of published, unpublished, and sometimes original art
    items. These collections are typically unitemized so the only way to learn what they contain is to
    view them. Maybe we should qualify size: though items in these files are <em>typically</em> small, they
    may  contain large items like posters. </p>


<p>Collections of small-sized documents relating to the visual arts that are collected and arranged for the
    purposes of research. Often, these materials fail to receive individual full-level cataloging. It is
    important to note that the term "ephemera " has been excluded from this definition as artist files
    include, but are not limited to ephemera. That said, much literature has been devoted to the subject
    of ephemera and Maurice Rickards, a notable figure in the field of ephemera, has referred to it as
    the "minor transient documents of everyday life," which aptly describes artist files as well.</p>

   </div>
    <div class="vertical-line" style="flex: 0 0 1px">
               </div>
    <div style="flex: 1 1 300px">
        <h1>What Kinds of Materials?</h1>
<p><strong>In keeping with the diverse nature of artist files and the varying institutions that maintain
             them, a
    broad definition has been used for the purposes of this project. Artist files are:</strong></p>


<h2>Material Types</h2>

<p>Artist files consist of the following variety of materials: Announcements, architectural drawings,
    artist statements, artworks, auction catalogs, brochures, checklists, commercial gallery catalogs,
    clippings, cultural artifacts, diaries, digital files, exhibition catalogs, institutional publications,
    interviews, invitations, journals, mail art, manifestos, manuscripts, maps, memorabilia, microform,
    negatives, oral histories, pamphlets, photographs, postcards, posters, press releases, price lists,
    prints, private view cards, resumes, scripts, serials, slides, and transcripts.</p>

<h2>Subject of Artist Files</h2>

<p>The subject of artist files represented in most collections encompasses, but is not limited to,
    the following:</p>

<h3>Individuals</h3>

<p>Administrators, architects, artists, authors, bookbinders, collectors, connoisseurs, critics,
    conservators, craftsmen, curators, dealers, designers, educators, filmmakers, historians, journalists,
    patrons, printers, publishers, scholars, etc.</p>

<h3>Institutions</h3>

<p>Academic institutions, architectural firms, archives, auction houses, commercial galleries, foundations,
    foundries, galleries, governmental bodies, historic sites, institutes, kunsthalles, libraries, monuments,
    museums, publishers, religious organizations, research centers, private collections, societies, etc.</p>

    </div>
</div>
{% endblock %}