{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="flex-container-content">

<div id="quote-what-are">
    Quoted in collection: <a href="/collections/{{ random_quote.id }}">{{ random_quote.name }}</a>
    <blockquote>&#10077;&nbsp;{{ random_quote.quote|safe }}&nbsp;&#10078;</blockquote>
    {% if random_quote.quote_attrib %}<blockquote class="quote-attrib">{{ random_quote.quote_attrib }}</blockquote>{% endif %}
</div>

</div>

<div class="flex-container-content">
   <div style="flex: 1 1 300px">

<h1>What Are Artist Files?</h1>


       <p>Much of the following information comes from <a href="http://www.arlisna.org/images/researchreports/artist_files_revealed.pdf"><cite>Artist Files Revealed: Documentation and Access</cite></a> by The Artist Files
    Working
    Group, ARLIS/NA</cite> (Art Libraries Society of North America, 2009, 2010).</p>

           <a href="http://www.arlisna.org/images/researchreports/artist_files_revealed.pdf"><img src="
{% static 'graphics/Artist-Files-Revealed-Documentation-and-Access-Cover.jpg' %}" width="175" alt="Artist
Files Revealed Documentation and Access Cover" style="float:right"></a>

       <hr />

<p>Artist files are among the most valued and heavily used resources in art research facilities. These files
often provide critical documentation about well established artists, as well as lesser known artists
not well documented in the literature. Researchers rely on artist files to establish chronologies,
flesh out exhibition histories, review stylistic developments and assess the critical reception of
artists over time. Artist files often do not circulate due to their unique and irreplaceable nature.
Artist file collections frequently have regional strengths that make them particularly vital repositories
for communities.</p>

       <p>What's exciting about artist files is the thrill of discovery, because you never know what you'll find.
    Be prepared for serendipity.
</p>


<p>Ironically, artist files are among the least accessible resources in research collections. The
very nature of the material, limited cataloging staff, and lack of technical or administrative support
have all contributed to this problem. While a large number of institutions have made records of their
files accessible from their local catalog or website, they have yet to migrate them to larger union
catalogs where users can more readily connect with them. As a result, it is only the most diligent of
researchers that will discover these files by searching individual local catalogs or other publicly
published indexes. In effect, this has made artist files the single most untapped resource to the broader
art research community.</p>

        <p>	Artist files are collections of research material on artists that contain uncataloged material
    in a broad range of formats and sizes that is often ephemeral or fugitive in nature. They are
    typically mixed collections consisting of an array of published, unpublished, and sometimes original art
    items. These collections are typically unitemized so the only way to learn what they contain is to
    view them. Maybe we should qualify size: though items in these files are <em>typically</em> small, they
    may  contain large items like posters. </p>


<p>Collections of small-sized documents relating to the visual arts that are collected and arranged for the
    purposes of research. Often, these materials fail to receive individual full-level cataloging. It is
    important to note that the term "ephemera " has been excluded from this definition as artist files
    include, but are not limited to ephemera. That said, much literature has been devoted to the subject
    of ephemera and Maurice Rickards, a notable figure in the field of ephemera, has referred to it as
    the "minor transient documents of everyday life," which aptly describes artist files as well.</p>

{#<p>This publication links the art researcher to a web-based directory of institutional holdings of artist#}
{#files (Directory of Artist Files) that allows for efficient browsing of collection statements and provides#}
{#links to further institutional resources.</p>#}
   </div>
    <div class="vertical-line" style="flex: 0 0 1px">
               </div>
    <div style="flex: 1 1 300px">
        <h1>What Kinds of Materials?</h1>
<p><strong>In keeping with the diverse nature of artist files and the varying institutions that maintain
             them, a
    broad definition has been used for the purposes of this project. Artist files are:</strong></p>


<h2>Material Types</h2>

<p>Artist files consist of the following variety of materials: Announcements, architectural drawings,
    artist statements, artworks, auction catalogs, brochures, checklists, commercial gallery catalogs,
    clippings, cultural artifacts, diaries, digital files, exhibition catalogs, institutional publications,
    interviews, invitations, journals, mail art, manifestos, manuscripts, maps, memorabilia, microform,
    negatives, oral histories, pamphlets, photographs, postcards, posters, press releases, price lists,
    prints, private view cards, resumes, scripts, serials, slides, and transcripts.</p>

<h2>Subject of Artist Files</h2>

<p>The subject of artist files represented in most collections encompasses, but is not limited to,
    the following:</p>

<h3>Individuals</h3>

<p>Administrators, architects, artists, authors, bookbinders, collectors, connoisseurs, critics,
    conservators, craftsmen, curators, dealers, designers, educators, filmmakers, historians, journalists,
    patrons, printers, publishers, scholars, etc.</p>

<h3>Institutions</h3>

<p>Academic institutions, architectural firms, archives, auction houses, commercial galleries, foundations,
    foundries, galleries, governmental bodies, historic sites, institutes, kunsthalles, libraries, monuments,
    museums, publishers, religious organizations, research centers, private collections, societies, etc.</p>

    </div>
</div>
{% endblock %}