{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="flex-container-content">
<div>

<h1 class="home">Add a Collector</h1>
    {% if submitted %}
        <p>You have successfully added a new collector record. Return to your the
            <a href="/user/content">Create / Edit</a> to add another
            collector or to associate your new collector with a collection.</p>
    {% else %}
        <form action="" method="post" novalidate>
            <table>
                {{ form.media }}
                {{ form.as_table }}
                <tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="Add Collector"></td>
                </tr>
            </table>
            {% csrf_token %}

        </form>
    {% endif %}

</div>
</div>

&nbsp;<br />
&nbsp;
{% endblock %}