{% extends 'base.html' %}

{% block content %}

<div style="flex: 10 1 1000px" xmlns="http://www.w3.org/1999/html">
    <h1 class="browse">Here is a list of {% if subject_city.sub_city %} with
        subject <strong class="search-term">{{ subject_city.sub_city }}</strong>{% endif %}
        {% if institution_type.type_name %} <strong class="search-term"
        >{{ institution_type.type_name }}s</strong>{% endif %}</h1>

    <div class="flex-container-content">
        <div>
        <ul class="body-collection-browse">
            {% for collection in collections %}
                {% for collector in collection.collector.all %}
                <li>
                <a href="/collections/{{ collection.id }}">
                {{ collector.inst_main_name }}{% if collector.inst_sub_name %}, {% endif %}
                {{ collector.inst_sub_name }}
                {{ collector.person_last_name }}{% if collector.person_last_name %}, {% endif %}
                {{ collector.person_first_name }} &mdash; {{ collection.name }}</a>
                    {% if collection.consortium == True %}<strong class="consortium">&#x26AD;</strong
    >{% endif %}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        </div>
    </div>

        <div class="flex-container-footer">
        <div><strong class="consortium">&#x26AD;</strong> = consortial/collaborative collections</div>
    </div>


</div>

{% endblock %}