{% extends 'base.html' %}

{% block content %}

<div>

    <h1 class="browse">Here is a list of dealers in the directory ... </h1>

    <div class="flex-container-content">
        <div>
        <ul class="body-collection-browse">
            {% for collector in collectors %}
                {% for collection in collector.collections.all %}
                <li>
                <a href="/collections/{{ collection.id }}">
                {{ collector.inst_main_name }}{% if collector.inst_sub_name %}, {% endif %}
                {{ collector.inst_sub_name }}{% if collector.inst_sub2_name %}, {% endif %}{{ collector.inst_sub2_name }}
                {{ collector.person_last_name }}{% if collector.person_last_name %}, {% endif %}
                {{ collector.person_first_name }} &mdash; {{ collection.name }}</a>
                    {% if collection.consortium == True %}<strong class="consortium">&#x26AD;</strong>{% endif %}
                </li>
                {% endfor %}
            {% endfor %}
        </ul>
        </div>
    </div>

</div>

{% endblock %}