{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="flex-container-content">
<div>

<h1 class="home">Update Collector</h1>
        <form action="" method="post" novalidate>
            <table>
                {{ form.media }}
                {{ form.as_table }}
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="Update Collector"></td>
                </tr>
            </table>
            {% csrf_token %}
        </form>

</div>
</div>

{% endblock %}